@model IEnumerable<LojinhaV2.Models.Cliente>
@{
    ViewBag.Title = "Clientes";
}

<h2>Lista de Clientes</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Primeiro_nome)
            @Html.DisplayNameFor(model => model.Ultimo_nome)
        </th>
        <th>
        </th>
        <th>
        </th>
        <th></th>
    </tr>
</table>


